@media (max-width: 1000px) {
  body .site-header .hero .contenido-header .redes-sociales {
    width: 60%;
  }
  body .site-header .hero .contenido-header .informacion-evento .fechaciudad {
    width: 90%;
  }
  body .site-header .hero .contenido-header .informacion-evento h1 {
    font-size: 11.5vw;
  }
  body .site-header .hero .contenido-header .informacion-evento p {
    font-size: 17px;
  }
  body #barra #contenedor-barra {
    padding: 0 20px;
  }
  body #barra #contenedor-barra .logo img {
    width: 350px;
  }
  body #barra #contenedor-barra #navegacion-principal {
    text-align: center;
  }
  body #barra #contenedor-barra #navegacion-principal ul {
    padding-bottom: 10px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
  }
  body #barra #contenedor-barra #navegacion-principal ul li a {
    font-size: 18px;
  }
}
@media (max-width: 786px) {
  body #barra #contenedor-barra {
    flex-grow: 1;
    flex-wrap: wrap;
    height: auto;
    align-content: flex-start;
  }
  body #barra #contenedor-barra .logo img {
    width: 400px;
  }
  body #barra #contenedor-barra #menu-movil {
    display: block !important;
    margin: 0 auto;
  }
  body #barra #contenedor-barra #navegacion-principal {
    display: none;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 80px;
  }
  body #barra #contenedor-barra #navegacion-principal ul {
    flex-direction: column;
  }
  body #programa {
    width: 50%;
  }
  body .detalle-evento h3 {
    font-size: 24px !important;
  }
}
@media (max-width: 600px) {
  body .site-header .hero .contenido-header .redes-sociales {
    width: 80%;
  }
  body .site-header .hero .contenido-header .informacion-evento .fechaciudad {
    width: 90%;
  }
  body .site-header .hero .contenido-header .informacion-evento h1 {
    font-size: 15.5vw;
  }
  body .site-header .hero .contenido-header .informacion-evento p {
    font-size: 16px;
  }
  body #barra #contenedor-barra {
    padding: 0 10px;
  }
  body #barra #contenedor-barra .logo img {
    width: 250px;
  }
  body #barra #contenedor-barra #menu-movil {
    width: 10%;
  }
  body #barra #contenedor-barra #menu-movil .menu {
    width: 40px;
    margin-top: 8px;
  }
  body #barra #contenedor-barra #navegacion-principal {
    margin-top: 25px;
    margin-left: 40px;
  }
  body #programa {
    width: 95%;
  }
  body #programa button {
    display: block;
    margin: 0 right;
  }
}
.hero {
  height: 100vh;
  background-image: url(../img/encabezado.jpg);
  background-position: top center;
  background-size: cover;
}
.hero .contenido-header {
  padding-top: 20px;
}
.hero .contenido-header .redes-sociales {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.hero .contenido-header .redes-sociales a {
  color: white;
  font-size: 40px;
  text-decoration: none;
  transition: all 300ms;
}
.hero .contenido-header .redes-sociales a:hover {
  color: #fe4918;
  transform: scaleY(1.5) scaleX(1.5);
}
.hero .contenido-header .informacion-evento {
  text-align: center;
  color: white;
}
.hero .contenido-header .informacion-evento p {
  margin: 0;
  display: inline;
  font-size: 22px;
  text-transform: uppercase;
}
.hero .contenido-header .informacion-evento p i {
  color: #fe4918;
  font-size: 30px;
}
.hero .contenido-header .informacion-evento .fechaciudad {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 50px;
}
.hero .contenido-header .informacion-evento h1 {
  font-family: "PT Sans", sans-serif;
  font-size: 7.9vw;
  text-transform: uppercase;
  font-weight: bold;
}
.hero .contenido-header .informacion-evento .slogan {
  text-transform: none;
  padding-bottom: 3px;
  border-bottom: 3px solid #fe4918;
}
.hero .contenido-header .informacion-evento .slogan span {
  font-weight: bold;
  text-transform: capitalize;
}

#barra #contenedor-barra {
  padding: 10px 80px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
#barra #contenedor-barra .logo {
  flex-basis: 30%;
  transition: all 300ms;
}
#barra #contenedor-barra .logo:hover {
  background-color: #fe4918;
}
#barra #contenedor-barra .logo img {
  width: 350px;
}
#barra #contenedor-barra #navegacion-principal {
  flex-basis: 70%;
  margin-left: 30px;
  height: 40px;
}
#barra #contenedor-barra #navegacion-principal ul {
  display: flex;
  justify-content: space-evenly;
}
#barra #contenedor-barra #navegacion-principal ul li {
  margin-right: 5px;
  list-style: none;
  line-height: 40px;
  transition: all 300ms;
}
#barra #contenedor-barra #navegacion-principal ul li:hover {
  transform: scaleY(1.5) scaleX(1.5);
}
#barra #contenedor-barra #navegacion-principal ul li a {
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  color: white;
  transition: all 300ms;
}
#barra #contenedor-barra #navegacion-principal ul li a:hover {
  color: #fe4918;
}
#barra #contenedor-barra #navegacion-principal ul li:last-child a {
  color: #fe4918;
  border: 1px solid #fe4918;
  padding: 6px;
}
#barra #contenedor-barra #navegacion-principal ul li:last-child a:hover {
  color: white;
  background-color: #fe4918;
}
#barra #contenedor-barra #menu-movil {
  width: 15%;
  display: none;
}
#barra #contenedor-barra #menu-movil .menu {
  width: 50px;
  display: block;
  float: right;
  text-align: right;
  margin-top: 12px;
}
#barra #contenedor-barra #menu-movil .menu:hover {
  cursor: pointer;
}
#barra #contenedor-barra #menu-movil .menu span {
  height: 8px;
  margin-bottom: 6px;
  background-color: white;
  display: block;
}

@media (max-width: 1000px) {
  body .site-header .hero .contenido-header .redes-sociales {
    width: 60%;
  }
  body .site-header .hero .contenido-header .informacion-evento .fechaciudad {
    width: 90%;
  }
  body .site-header .hero .contenido-header .informacion-evento h1 {
    font-size: 11.5vw;
  }
  body .site-header .hero .contenido-header .informacion-evento p {
    font-size: 17px;
  }
  body #barra #contenedor-barra {
    padding: 0 20px;
  }
  body #barra #contenedor-barra .logo img {
    width: 350px;
  }
  body #barra #contenedor-barra #navegacion-principal {
    text-align: center;
  }
  body #barra #contenedor-barra #navegacion-principal ul {
    padding-bottom: 10px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
  }
  body #barra #contenedor-barra #navegacion-principal ul li a {
    font-size: 18px;
  }
}
@media (max-width: 786px) {
  body #barra #contenedor-barra {
    flex-grow: 1;
    flex-wrap: wrap;
    height: auto;
    align-content: flex-start;
  }
  body #barra #contenedor-barra .logo img {
    width: 400px;
  }
  body #barra #contenedor-barra #menu-movil {
    display: block !important;
    margin: 0 auto;
  }
  body #barra #contenedor-barra #navegacion-principal {
    display: none;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 80px;
  }
  body #barra #contenedor-barra #navegacion-principal ul {
    flex-direction: column;
  }
  body #programa {
    width: 50%;
  }
  body .detalle-evento h3 {
    font-size: 24px !important;
  }
}
@media (max-width: 600px) {
  body .site-header .hero .contenido-header .redes-sociales {
    width: 80%;
  }
  body .site-header .hero .contenido-header .informacion-evento .fechaciudad {
    width: 90%;
  }
  body .site-header .hero .contenido-header .informacion-evento h1 {
    font-size: 15.5vw;
  }
  body .site-header .hero .contenido-header .informacion-evento p {
    font-size: 16px;
  }
  body #barra #contenedor-barra {
    padding: 0 10px;
  }
  body #barra #contenedor-barra .logo img {
    width: 250px;
  }
  body #barra #contenedor-barra #menu-movil {
    width: 10%;
  }
  body #barra #contenedor-barra #menu-movil .menu {
    width: 40px;
    margin-top: 8px;
  }
  body #barra #contenedor-barra #navegacion-principal {
    margin-top: 25px;
    margin-left: 40px;
  }
  body #programa {
    width: 95%;
  }
  body #programa button {
    display: block;
    margin: 0 right;
  }
}
.seccion {
  padding: 30px 0 20px 0;
}

h2 {
  text-align: center;
  padding-bottom: 10px;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}
h2::after {
  content: "";
  display: block;
  height: 30px;
  width: 100px;
  margin: 0 auto;
  background-image: url(../img/separador.png);
}

p {
  text-align: left;
}

@media (max-width: 1000px) {
  body .site-header .hero .contenido-header .redes-sociales {
    width: 60%;
  }
  body .site-header .hero .contenido-header .informacion-evento .fechaciudad {
    width: 90%;
  }
  body .site-header .hero .contenido-header .informacion-evento h1 {
    font-size: 11.5vw;
  }
  body .site-header .hero .contenido-header .informacion-evento p {
    font-size: 17px;
  }
  body #barra #contenedor-barra {
    padding: 0 20px;
  }
  body #barra #contenedor-barra .logo img {
    width: 350px;
  }
  body #barra #contenedor-barra #navegacion-principal {
    text-align: center;
  }
  body #barra #contenedor-barra #navegacion-principal ul {
    padding-bottom: 10px;
    margin-bottom: 10px;
    flex-wrap: nowrap;
  }
  body #barra #contenedor-barra #navegacion-principal ul li a {
    font-size: 18px;
  }
}
@media (max-width: 786px) {
  body #barra #contenedor-barra {
    flex-grow: 1;
    flex-wrap: wrap;
    height: auto;
    align-content: flex-start;
  }
  body #barra #contenedor-barra .logo img {
    width: 400px;
  }
  body #barra #contenedor-barra #menu-movil {
    display: block !important;
    margin: 0 auto;
  }
  body #barra #contenedor-barra #navegacion-principal {
    display: none;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 80px;
  }
  body #barra #contenedor-barra #navegacion-principal ul {
    flex-direction: column;
  }
  body #programa {
    width: 50%;
  }
  body .detalle-evento h3 {
    font-size: 24px !important;
  }
}
@media (max-width: 600px) {
  body .site-header .hero .contenido-header .redes-sociales {
    width: 80%;
  }
  body .site-header .hero .contenido-header .informacion-evento .fechaciudad {
    width: 90%;
  }
  body .site-header .hero .contenido-header .informacion-evento h1 {
    font-size: 15.5vw;
  }
  body .site-header .hero .contenido-header .informacion-evento p {
    font-size: 16px;
  }
  body #barra #contenedor-barra {
    padding: 0 10px;
  }
  body #barra #contenedor-barra .logo img {
    width: 250px;
  }
  body #barra #contenedor-barra #menu-movil {
    width: 10%;
  }
  body #barra #contenedor-barra #menu-movil .menu {
    width: 40px;
    margin-top: 8px;
  }
  body #barra #contenedor-barra #navegacion-principal {
    margin-top: 25px;
    margin-left: 40px;
  }
  body #programa {
    width: 95%;
  }
  body #programa button {
    display: block;
    margin: 0 right;
  }
}
#video {
  position: relative;
  height: 540px;
}
#video .contenedor-video {
  width: 100%;
  overflow-x: hidden;
}

#programa {
  position: absolute;
  top: 0;
  left: 4%;
  width: 40%;
  padding: 5px;
  margin-top: 120px;
}
#programa .programa-evento {
  background-color: rgba(255, 255, 255, 0.597);
  box-shadow: 1px 1px 5px black;
  padding: 10px 0;
}
#programa .programa-evento .menu-programa {
  border-bottom: 1px solid #fe4918;
  margin-bottom: 20px;
}
#programa .programa-evento .menu-programa ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
#programa .programa-evento .menu-programa ul li a {
  font-family: "Oswald", sans-serif;
  text-decoration: none;
  color: black;
  transition: all 300ms;
}
#programa .programa-evento .menu-programa ul li a:hover i {
  color: black;
}
#programa .programa-evento .menu-programa ul li i {
  color: #fe4918;
  font-size: 20px;
  margin-right: 5px;
}
#programa .programa-evento .info-curso {
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
}
#programa .programa-evento .info-curso .detalle-evento h3 {
  color: #fe4918;
}
#programa .programa-evento .info-curso .detalle-evento p {
  font-weight: bold;
}
#programa .programa-evento .info-curso .detalle-evento i {
  color: #fe4918;
}
#programa .programa-evento .info-curso button {
  align-self: flex-end;
}

body {
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-family: "Oswald", sans-serif;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
