@import '../sass/variables';
@import '../sass/responsive';
#contador {
    background-image: url(../img/bg-resumen-editado.jpg);
    height: 780px;
    @extend %parallax;
    .contenedor {
        display: flex;
        justify-content: center;
        height: 100%;
        .resumen-evento {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-flow: row wrap;
            flex-grow: 1;
            width: 50%;
            height: 100%;
            overflow: hidden;
            li {
                list-style: none;
                color: white;
                font-family: $oswald;
                font-size: 2em;
                text-align: center;
                .numero {
                    @extend %NUMERO;
                }
            }
        }
    }
}

#newsletter {
    @extend %parallax;
    background-image: url(../img/bg-newsletter.jpg);
    background-position: top !important;
    height: 450px;
    .nl {
        text-align: center;
        border: $prueba;
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
        p {
            text-align: center
        }
        button {
            width: 20%;
            align-self: center
        }
    }
    h1 {
        @extend %GDLWEBCAM;
    }
}