@media (max-width: 1000px) {
    .site-header {
        .hero {
            .contenido-header {
                .redes-sociales {
                    width: 60%;
                }
                .informacion-evento {
                    .fechaciudad {
                        width: 90%;
                    }
                    h1 {
                        font-size: 11.5vw;
                    }
                    p {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .site-header {
        .hero {
            .contenido-header {
                .redes-sociales {
                    width: 80%;
                }
                .informacion-evento {
                    .fechaciudad {
                        width: 90%;
                    }
                    h1 {
                        font-size: 15.5vw;
                    }
                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}