@import './header';
@import './seccion';
@import './conferencias';
@import './invitados';
@import './contador';
@import './precios';
@import './mapa';
@import './testimonial';
body {
    box-sizing: border-box;
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: $oswald;
}

.contenedor {
    width: 90%;
    margin: 0 auto;
}